.DS_Store
*.code-workspace
Adafruit-Motor-Shield-library-99381df/
Adafruit-PN532-master/
Adafruit-PWM-Servo-Driver-Library/
Adafruit_BluefruitLE_nRF51/
Adafruit_DotStar/
Adafruit_GFX_Library/
Adafruit_NeoPixel/
EPD215/
EPD_FLASH/
EPD_GFX/
EPD_PANELS/
EPD_PINOUT/
EPD_V110_G1/
EPD_V230_G2/
EPD_V231_G2/
IRremote/
NDEF/
NTPClient/
PN532/
PN532_HSU/
PN532_I2C/
PN532_SPI/
README.md
S5813A/
SoftwareServo/
WebUSB/
readme.txt

# Arianna's Arduino Libraries
AFMotor/
Adafruit_Circuit_Playground/
Adafruit_LSM303DLHC/
Adafruit_Motor_Shield_V2_Library/
Adafruit_Sensor/
Adafruit_TCS34725/
Bridge/
CapacitiveSensor/
MOVI/
OSC/
SD/
SparkFun_LIS3DH_Arduino_Library/
arduino_80181/
dual-max14870-motor-shield/
nRF24L01/

